:root{
    --dark: #000;
    --themeHoverDark: #333;
    --themeDark: #111;
    --themeHoverGreen: rgb(7, 255, 7);
    --themeGreen: rgb(3, 146, 3);
    --themeOrange: rgb(255, 136, 0);
    --light: #fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main{
    height: 100vh;
    background-color: var(--dark);
    overflow-y: hidden;
}
input,  button{
    background-color: var(--dark);
    border: none;
    color: var(--light);
}

.expression{
    height: 20vh;
}
input{
    height: 15vh;
    width: 100%;
    text-align: right;
    padding: 0 30%;
    font-size: 2rem;
}

.buttonContainer{
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding:1rem;
}
.button{
    padding: 1rem;
    display: flex;
}
.button button{
    margin: auto;
    background-color: var(--themeDark);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.button button:hover{
    background-color: var(--themeHoverDark);
    font-size: 1.2rem;
}

#equals{
    background-color: var(--themeGreen);
}
#equals:hover{
    background-color: var(--themeHoverGreen);
}
.operator button{
    color: var(--themeGreen);
    font-size: 1.8rem;
}